{% extends 'template.html' %}

{% block title %}
Main page
{% endblock %}

{% block main %}
<div class="main-container">
    <div class="main-header">
      <input type="search" placeholder="Search..." class="search">
      <div class="end-header">
        <div class="user-button"><img src="static/svg/user.svg" alt="no svg"></div>
        <div class="orange-bell"><img src="static/svg/bell.svg" alt="no svg"></div>
      </div>
    </div>
    <h1>New released lessons</h1>
    <br>
    <div class="card-list">
      <div class="card-container">
        <div class="card-header"> <div class="new">
          <img src="static/svg/A1.svg" alt="no svg">
        <div class="card-name">
          <h2 class="card-title">Tutorial</h2>
          <h2 class="card-author">@Admin</h2>
        </div></div>
        <div class="card-timeline">15 min</div>
        </div>
        <div class="card-naming">
          <h3>Learn how to use Learny and <br> complete start test</h3>
        </div>
      </div>
      <div class="card-container">
        <div class="card-header"> <div class="new">
          <img src="static/svg/A1.svg" alt="no svg">
        <div class="card-name">
          <h2 class="card-title">Tutorial</h2>
          <h2 class="card-author">@Admin</h2>
        </div></div>
        <div class="card-timeline">15 min</div>
        </div>
        <div class="card-naming">
          <h3>Learn how to use Learny and <br> complete start test</h3>
        </div>
      </div>
      <div class="card-container">
        <div class="card-header"> <div class="new">
          <img src="static/svg/A1.svg" alt="no svg">
        <div class="card-name">
          <h2 class="card-title">Tutorial</h2>
          <h2 class="card-author">@Admin</h2>
        </div></div>
        <div class="card-timeline">15 min</div>
        </div>
        <div class="card-naming">
          <h3>Learn how to use Learny and <br> complete start test</h3>
        </div>
      </div>
      <div class="card-container">
        <div class="card-header"> <div class="new">
          <img src="static/svg/A1.svg" alt="no svg">
        <div class="card-name">
          <h2 class="card-title">Tutorial</h2>
          <h2 class="card-author">@Admin</h2>
        </div></div>
        <div class="card-timeline">15 min</div>
        </div>
        <div class="card-naming">
          <h3>Learn how to use Learny and <br> complete start test</h3>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
